@using ApplicationCore.Models
@model ApplicationCore.Models.MovieDetailsModel

<div class="container-fluid">
    <div class="row" style="background-color:darkslateblue">
        <div class="col-4" >
            <img src="@Model.PosterUrl" class="img-fluid float-end" alt="@Model.Title" />
        </div>

        <div class="col-6">
            <h1 style="color:white">@Model.Title</h1>
            <p style="color:gainsboro">@Model.Tagline</p>
            <p style="color:gainsboro"><b>@Model.RunTime m| @Model.ReleaseDate.Value.Year</b></p>
            <div>
                @foreach (var genre in @Model.Genres)
                {
                    <span class="badge rounded-pill" style="background-color:dimgray">@genre.Name</span>
                }
            </div>
            <div>
                 <span class="badge"style="background-color:forestgreen">@Model.Rating.</span>
            </div>

            <br />
            <p style="color:white">@Model.Overview</p>
        </div>

        <div class="col-2">
            <br /><br />
            <button type="button" class="btn btn-dark btn-block" data-bs-toggle="modal" data-bs-target="#myModal">Review</button>
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Review</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Rating
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li class="dropdown-item">1</li>
                                    <li class="dropdown-item">2</li>
                                    <li class="dropdown-item">3</li>
                                    <li class="dropdown-item">4</li>
                                    <li class="dropdown-item">5</li>
                                    <li class="dropdown-item">6</li>
                                    <li class="dropdown-item">7</li>
                                    <li class="dropdown-item">8</li>
                                    <li class="dropdown-item">9</li>
                                    <li class="dropdown-item">10</li>
                                </ul>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="comment">Write Review:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-dark">Submit</button>
                        </div>
                    </div>
      
                </div>
            </div><br /><br />
            
            <button type="button" class="btn btn-light btn-block" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Buy $@Model.Price</button>
            <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Buy Movie</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>I confirm to buy this movie with $@Model.Price</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-dark">Purchase</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br />

    <div class="row">
        <div class="col-4">
            <h5>MOVIE FACTS</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Release Date  <span class="badge rounded-pill" style="background-color:black">@Model.ReleaseDate.Value.Date</span></li>
                <li class="list-group-item">Run Time  <span class="badge rounded-pill" style="background-color:black">@Model.RunTime m</span></li>
                <li class="list-group-item">Box Office  <span class="badge rounded-pill" style="background-color:black">$@Model.Revenue</span></li>
                <li class="list-group-item">Budget  <span class="badge rounded-pill" style="background-color:black">$@Model.Budget</span></li>
            </ul>
            <br />
            <h5>TRAILERS</h5>
            <ul class="list-group list-group-flush">
                @foreach (var trailer in @Model.Trailers)
                {
                    <li class="list-group-item"><a href="@trailer.TrailerUrl">@trailer.Name</a></li>
                }
            </ul>
        </div>

        <div class="col-8">
            <h5>CAST</h5>
            <ul class="list-group list-group-flush">
                @foreach (var cast in @Model.Casts)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img src="@cast.ProfilePath" class="img-circle" alt="@cast.Name" height="80" width="50"/>
                            </div>
                            <div class="col">
                                <a asp-controller="Cast" asp-action="Details" asp-route-id="@cast.Id">
                                    @cast.Name
                                </a>
                            </div>
                            <div class="col">
                                @cast.Character
                            </div>   
                        </div>
                    </div><hr />
                }
            </ul>
        </div>
    </div>
</div>

